.form {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
}

.form-input img {
  position: absolute;
  margin-left: 1%;
  margin-top: max(calc((7vh - 17px) / 2), 6.5px);
}

.form-input input {
  height: max(7vh, 30px);
  width: 100%;
  font-family: 'Space Mono', monospace;
  /* padding-right: 10px; */
  /* padding-right: 10px; */
  background-color: var(--very-light-grayish-cyan);
  border: var(--white);
  border-radius: 5px;
  font-size: 18px;
  text-align: right;
}

input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
  font-family: 'Space Mono', monospace;
}

input:required:focus {
  border: 1px solid red;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input input::placeholder {
  color: var(--grayish-cyan);
  font-size: 20px;
  border-spacing: 10px;
  text-align: right;
  align-items: right;
  /* padding-right: 100px; */
  font-family: 'Space Mono', monospace;
}

.btn-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 15px;
  /* row-gap: 5px; */
  /* column-gap: 5px; */
  gap: 10px;
}

.tip-btn {
  background-color: var(--very-dark-cyan);
  border: none;
  border-radius: 5px;
  color: var(--white);
  width: 100%;
  height: 35px;
}

.btn-container button {
  font-family: 'Space Mono', monospace;
}

.tip-btn:hover {
  background-color: var(--strong-cyan);
  cursor: pointer;
}

.custom-tip {
  background-color: var(--very-light-grayish-cyan);
  color: var(--grayish-cyan);
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
}

.custom-tip:focus {
  cursor: pointer;
  outline: 2px solid hsl(172, 67%, 45%);
}

.output {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  /* grid-template-columns: auto auto auto; */
  align-items: center;
}

.output-container {
  width: 50%;
  /* padding: 5%; */
  display: flex;
  justify-content: space-between;
}

.output-wrapper {
  display: grid;
  place-content: center;
  width: 100%;
  padding-top: 10px;
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
}

.output-title {
  color: var(--white);
}

span {
  color: var(--very-light-grayish-cyan);
}

.output-value {
  font-size: 36px;
  color: var(--strong-cyan);
}

.reset-btn {
  /* width: 100%; */
  background-color: hsla(183, 51%, 31%, 0.884);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 5px;
  margin-top: 5.5rem;
  height: 40px;
  font-weight: bolder;
}

.reset-btn:hover {
  background: var(--strong-cyan);
  cursor: pointer;
}

@media screen and (max-wdith: 900px) {
  .form {
  }
}

@media screen and (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    /* gap: 2.5rem; */
    padding: 50px auto;
    width: 100%;
  }

  .form-input input {
    width: 350px;
    overflow-x: auto;
  }

  .btn-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .output-container {
    width: 100%;
  }

  .output-wrapper {
    padding: 20px;
  }
}
