@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  /* primary colors */
  --strong-cyan: hsl(172, 67%, 45%);

  /* neutral colors */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.container {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 5%;
  width: 50vw;
  border-radius: 15px;
}

label {
  color: var(--grayish-cyan);
}

@media screen and (max-width: 900px) {
  .container {
  }
}

@media screen and (max-width: 600px) {
  body {
    display: grid;
    place-items: center;
  }

  .header {
    display: grid;
    place-items: center;
    /* padding: 100%; */
  }

  .container {
    display: grid;
    place-items: center;
    width: 400px;
    padding: 20px auto;
    border-radius: 15px;
  }
}
